@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
     

    });

    function DownLoadSampleFile()
    {
        $.post("DownLoadWordFile", function (data) { });
            

    }

</script>
<span>test</span>
<button onclick="DownLoadSampleFile()">測試直接下載</button>