
@{
    ViewBag.Title = "XmlIndex";
}
<h2>Xml</h2>

<button onclick="DownLoadXmlFile()">測試直接下載</button>



<script type="text/javascript">
    $(function () {


    });

    function DownLoadSampleFile() {
        $.post("DownLoadXmlFile", function (data) { });


    }

</script>
